# 🐍 Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 🧠 Ambiente virtual
venv/
env/
.venv/
.env/

# 💻 Configurações de IDE
.idea/
.vscode/
*.swp

# 🧪 Arquivos temporários
.DS_Store
*.log
*.tmp

# 🧾 Arquivos gerados automaticamente
ubs_resultado.json
*.csv
pacientes.json